//
     Created by delete on 2014/9/21.
div.foot
    p
        a Test by delete
        a Test Blog
    p © 2014 Delete.
    div.follow-buttons
        div(style="vertical-align:middle;")
            a Follow @delete
a(href="javascript:void")#back-to-top
    span.glyphicon.glyphicon-chevron-up(style="color:#005580; font-size: 22px;")
                                                                                                     