div.hide-bar
div.header
    div#navbar.navbar
        div.menbtn-div
            a.menubtn.visible-xs
                span.glyphicon.glyphicon-align-justify(style="color:#005580; font-size: 20px;")
    - if (!user)
        div.loginbtn
            a(href="/login").tips-btn.lo-tip
                span.glyphicon.glyphicon-log-in(style="color:#005580; font-size: 20px;")
                span(style="color:#005580; font-size: 14px;")
    - else
        div.userbtn
            a(href='/u/'+user.name)
                span.glyphicon.glyphicon-user(style="color:#005580; font-size: 20px;")
                span(style="color:#005580; font-size: 14px;")=user.name
        div.logout
            a(href='/logout').tips-btn.lg-tip
                span.glyphicon.glyphicon-log-out(style="color:#005580; font-size: 20px;")
                span(style="color:#005580; font-size: 14px;")
div.head-bg


