extends layout

block content
    include head.jade
    div.main
        div.content.row
            div.col-md-4.col-sm-4
                div.cont
                    div.notice-top.rgbA.myblog-notice.br-5px-top

                    div.notice-bootom.bc-fff 1111
            div.col-md-8.col-sm-8
                div.box#box.cont
                    ul
                        li
                            img(src="/images/img1.jpg")
                        li
                            img(src="/images/img1.jpg")
        - if (!user)
            div.content.row
                div.col-md-12.col-sm-12
                    div.cont
                        div.notice-top.br-5px-top
                            p 你还没有登陆哦,
                                a(href="/login") 点击这里
                                span 或者点击右上角登录吧!没有账号?
                                a(href="/reg") 点击这里
                                span 注册吧!

        - else
            div.content.row
                div.col-md-4.col-sm-4
                    div.cont
                        div.notice-top.bc-389dc1.br-5px-top
                            a(href="#").user-photo-imga
                                span.glyphicon.glyphicon-user(style="color:#005580; font-size: 40px;")
                            div.user-info
                                a.fz-20.fc-fff=user.name
                                p
                                    a(href="#").fc-005580 访客&nbsp
                                        span 1
                        div.notice-bootom.bc-fff
                            include report
                div.col-md-8.col-sm-8
                    div.col-md-4.col-sm-4 11
                    div.col-md-4.col-sm-4 22
                    div.col-md-4.col-sm-4 33
                div.col-md-8.col-sm-8 111

        div.content.row
            div.col-md-4.col-sm-4
            include posts.jade
        //include ./posts.jade
    div(style="clear:both")
    include foot.jade
