doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title= title
        link(rel='stylesheet', href='/stylesheets/base.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //[if IE]> <link type="text/css", rel="stylesheet", href="/stylesheets/ie-style.css"/><![endif]
        script(src='/javascripts/jquery-1.9.1.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/main.js')
        script(src='/javascripts/base.js')
        //[if IE 9]> <script src="/javascripts/IE9_html5_fix.js"></script><![endif]
    body
        block content