extends layout

block content
    include head.jade

    div.main
        script(type="text/javascript").
         if(isMobile.any()){$(".header,.hide-bar").animate({marginTop:-52},300);}
         else{$(".header,.hidebar").animate({marginTop:-52},500);}

        a.backhome(href="/")
            span.glyphicon.glyphicon-home(style="color:#389dc1; font-size: 20px;")
        div.login-main
            div.login-main-l#login-main.carousel
                ul.user-word
                    h3 Welcome
                ul.user-photo
                    li.user-photo-img
                        span.glyphicon.glyphicon-user(style="color:#005580; font-size: 50px;")
                include alert.jade
                ul.login-form
                    li

                        form(method='post' role='form')
                            input.myblogbtn-text(type="text",placeholder="账号/Username",name="username",id="username")
                            input.myblogbtn-text(type="password",placeholder="密码/Password",style="magin-bottom:10px;",name="password",id="password")
                            div.myblogbtn-check
                                input.myblogbtn-check(type='checkbox')
                                | 请记住我
                            div.form-group
                                div.col-sm-12
                                    button.btn.btn-block.myblogbtn-go
                                        span 登陆
                ul.register-link
                    li 没有账号?&nbsp
                        a(href="/reg")
                            span.glyphicon.glyphicon-edit(style="color:#389dc1; font-size: 14px;")
                            span(style="color:#389dc1; font-size: 14px;")  注册吧!
    include foot.jade