- for (var i = 3; i < posts.length+3; i = i + 3)
  div.col-md-8.col-sm-8
    - for(var j = i-3; j < i && j < posts.length; j++)
        div.cont
            div.notice-top.br-5px-top.b-bottom
                div.user-photo-imga.fc-005580
                    span.glyphicon.glyphicon-user(style="color:#005580; font-size: 40px;")
                div.user-info
                    a.fz-20.fc-005580(href='/u/'+posts[j].user)=posts[j].user
                    div
                        span.posts-time!=judgeday()+'&nbsp'+posts[j].time.getHours()+':'+posts[j].time.getMinutes()
                        a.read(href="#",style="color:#8c8c8c; margin-left:20px;")
                            span.fz-12.glyphicon.glyphicon-eye-open(style="margin-right: 5px;")
                            span.fz-12 阅读(
                            span.fz-12 1
                            span.fz-12 )
            - var nd=posts[j].time.getDate()
            - var date=new Date()
            - var t
            - d =date.getDate()
            - function judgeday(){if(d==nd){return t="今天"}if((nd-d)==-1){return t="昨天"}if((nd-d)==-2){return t="前天"}else{return posts[j].time.getFullYear()+"年"+(posts[j].time.getMonth()+1)+'月'+ posts[j].time.getDate()+'日'}}
                div.notice-bottom
                    div.posts-main
                        span=posts[j].title
                        span=posts[j].post
                        span=posts[j].commit
                    div(style="clear:both")
                    div.other-tools
                        div.discuss.fc-6ad3c3
                            a(href="javascript:void")
                                span.glyphicon.glyphicon-comment(style="color:#fff; font-size: 22px;")
                            span 1
                        div.praised.fc-ec7164
                            a(href="javascript:void")
                                span.glyphicon.glyphicon-thumbs-down(style="color:#fff; font-size: 22px;")
                            span 1
                        div.praise.fc-389dc1
                            a(href="javascript:void")
                                span.glyphicon.glyphicon-thumbs-up(style="color:#fff; font-size: 22px;")
                            span 1

