//
   Created by a450v on 2014/10/3.
extends layout
block content
    include head.jade
    div.main
        script(type="text/javascript").
         if(isMobile.any()){$(".header,.hide-bar").animate({marginTop:-52},300);}
         else{$(".header,.hidebar").animate({marginTop:-52},500);}
         $(function(){
            $(window).scroll(function () {
             if ($(window).scrollTop() > 100) {
                 $(".userbtn,.loginbtn,.logout").css({
                     position:"fixed",
                     marginTop:30,
                     zIndex:200
                 });
             }
             else {
                 $(".userbtn,.loginbtn,.logout").css({
                     position:"absolute",
                     marginTop:-133,
                     zIndex:198
                 });
             }
         });
         })

        a.backhome(href="/")
            span.glyphicon.glyphicon-home(style="color:#389dc1; font-size: 20px;")
        div.reg-main
            div.reg-main-l#reg-main
                ul.user-word
                    h3 欢迎新伙伴!
                include alert.jade
                ul.reg-form
                    li
                        form(method='post' role='form')
                            input.myblogbtn-text(type="text",placeholder="账号/Username",name="username",id="username" required autofocus)
                            input.myblogbtn-text(type="password",placeholder="密码/Password",style="magin-bottom:10px;",name="password",id="password" required)
                            input.myblogbtn-text(id='password-repeat' name='password-repeat' type='password'  placeholder='确认密码/re-enter Password' required)
                            div.form-group.reg-form-btn
                                div.col-sm-12
                                    button.btn.myblogbtn-go.myblogbtn-go-reg
                                        span 提交

    include foot.jade
