//
   Created by a450v on 2014/10/3.
form(class='well form-inline center' method='post' action='/post' style='text-align:center;')
    //input(type='text' class='input-lg' id='title' name='title')
    input(type='textarea' class='input-lg' id='post' name='post')
    button(type='submit' class='btn btn-success')
        span=user.name
        span.glyphicon.glyphicon-comment
