//
   Created by a450v on 2014/10/3.
extends layout
block content
    include head.jade
    div.main
        - if (user)
            div.content.row
                div.col-md-8.col-sm-8
                    include ./report.jade
                div.col-md-4.col-sm-4
                    div.cont
                        div.notice-top.bc-389dc1.bs-1-l.br-5px-top
                            a(href="#").user-photo-imga
                                span.glyphicon.glyphicon-user(style="color:#005580; font-size: 40px;")
                            div.user-info
                                a.fz-20.fc-fff=user.name
                                p
                                    a(href="#").fc-005580 访客&nbsp
                                        span 1

        div.content.row
            include ./posts.jade
    div(style="clear:both")
    include foot.jade
