/*
Elemetns color
*/
/*font-color*/
@font-face {
    font-family: 'glyphicons halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: local('glyphicons halflings'),
    local('glyphicons halflings'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg') format('svg');
}
.text-shadow{text-shadow:1px 1px rgba(0,0,0,.3);}
.fz-12,.posts-time{
    font-size: 12px;
}
.fz-20{
    font-size: 20px;
}
.fc-30{
    font-size: 30px;
}
.fz-70{
    font-size: 70px;
}

.fc-bold{
    font-weight: bold;
}
.fc-fff,.userbtn,.logout,.loginbtn,.myblogbtn-go span,.myblogbtn-go:hover,.btn:hover,.btn-block:hover,.tips-words,.myblog-notice span{
    color:#fff;
}
.fc-777,.foot,#login-main h3{
    color:#777;
}
.fc-999{
    color:#999;
}
.fc-8c8c8c,.posts-time{
    color:#8c8c8c;
}

.fc-1a1a1a{
    color: #1a1a1a;
}
.fc-005580,.menubtn{
    color:#005580;
}
.fc-00B7FF{
    color:#00B7FF;
}
.fc-0088c0,.checkbox{
    color:#0088c0;
}
.fc-389dc1{
    color: #389dc1;
}
.fc-ec7164{
    color: #ec7164;
}
.fc-6ad3c3{
    color: #6ad3c3;
}
/*border-color*/
.bdc-ddd{
    border-color:#ddd;
}
.bdc-eee,.user-photo{
    border-color: #eee;
}
.bdc-fff{
    border-color:#fff;
}
.bdc-eaf0f2{
    border-color:#eaf0f2 ;
}
.bdc-005580{
    border-color:#005580;
}
.bdc-00B7F{
    border-color:#00B7FF;
}
.bdc-0088c0{
    border-color:#0088c0;
}
.bc-258fb8,.user-photo-img,.user-photo-imga{
    border-color: #258fb8;
}

/*background-color*/
.bc-fff,.login-main,.user-photo,.cont,.reg-main,.postsbox{
    background-color:#fff;
}
.b-fff,.focus span.current{
    background:#fff;
}
.bc-005580,.focus span{
    background-color:#005580;
}
.bc-666{
    background-color:#666;
}
.b-666{
    background:#666;
}
.bc-00B7FF{
    background-color:#00B7FF;
}
.bc-0088c0{
    background-color:#0088c0;
}
.bc-353839,.lefthidemenu{
    background-color:#353839;
}
.bc-eee,.register-button li{
    background-color: #eee;
}
.bc-6bb9e1{
    background-color: #6bb9e1;
}
.bc-389dc1,.header,.hide-bar,.myblogbtn-go,.head-bg,#back-to-top,.focus,.praise a{
    background-color: #389dc1;
}
.bc-ec7164,.praised a{
    background-color: #ec7164;
}
.bc-6ad3c3,.discuss a{
    background-color: #6ad3c3;
}
.bc-258fb8,.user-photo-img,.user-photo-imga{
    background-color: #258fb8;
}
.bc-1a1a1a,.blogtips{
    background-color: #1a1a1a;
}
.bc-ffe60c{
    background-color: #ffe60c;
}
.rgbA{
    background-color: rgba(211,84,0,0.9);
}
.b-bottom{border-bottom: 2px solid #eaf0f2; }


/*end*/


/*Border width*/
/*border-width-1px*/
.bw-1px{
    border-width: 1px;
}

/*border-width-2px*/
.bw-2px,.user-photo-img,.user-photo-imga{
    border-width: 2px;
}
/*end*/



/*end*/

/*Border style*/
/*border-style-solid*/
.bs-solid,.user-photo-img,.user-photo-imga{
    border-style: solid;
}
/*border-style-dashed*/
.bs-solid{
    border-style: dashed;
}
/*end*/


/*border-radius*/
/*border-radius-5px*/
.br-5px{
    border-radius: 5px;
}
/*border-radius-10px*/
.br-10px,.login-main,.reg-main{
    border-radius: 5px;
}
.br-50,.user-photo-img,.user-photo-imga,#back-to-top,.focus span,.other-tools div a{
    border-radius: 50%;
}
.br-5px-bottom,.register-link{
    border-radius:0 0 5px 5px;
}
.br-5px-top,.cont,.postsbox{
    border-radius:5px 5px 0 0;
}
/*end*/


/*Element opacity*/
/*opacity-default*/
.od{
    opacity: 1;
    filter:alpha(opacity=100);
}
/*opacity-0.8*/
.od-9,.focus{
    -moz-opacity:0.9;
    opacity: .9;
    filter:alpha(opacity=90);
}
/*opacity-0.8*/
.od-8,#back-to-top{
    -moz-opacity:0.8;
    opacity: .8;
    filter:alpha(opacity=80);
}
/*opacity-0.7*/
.od-7,.userbtn a:hover,.loginbtn a:hover,.logout a:hover{
    -moz-opacity:0.7;
    opacity: .7;
    filter:alpha(opacity=70);
}
/*end*/


/*box shadow*/
.bs-1-l,.hide-bar,.lefthidemenu{
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
}
.bs-1-a{
    box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
.bs-1-l{
    box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
/*end*/


/*background-repeat*/
/*no-repeat*/
.bc-nore,.lo-re-button,.dclose,.user-photo {
    background-repeat: no-repeat;
}


/*Background image*/
.img-backtop{
    background-image: url(../images/backtop.png);
}

.img-login-bg,.user-photo{
    background-image: url(../images/login-bg-a.jpg);
}
/*.img-user-black{
    background-image: url(../images/user-black.png);
}
.img-user-white{
    background-image: url(../images/user-white.png);
}*/
/*end*/

/*anmiation*/
.fadein{
    -webkit-animation:animations2 1s ease-out 1s;
    -moz-animation:animations2 1s ease-out 1s;
    -o-animation:animations2 1s ease-out 1s;
    -ms-animation:animations2 1s ease-out 1s;
    animation:animations2 1s ease-out 1s;
    display:block;
}
.fadeout{}
@-webkit-keyframes in{
    0%{opacity:0;}
    100%{opacity:.9;}
}
@-moz-keyframes animations2{
    0%{opacity:0;}
    100%{opacity:.9;}
}
@-o-keyframes animations2{
    0%{opacity:0;}
    100%{opacity:.9;}
}
@-ms-keyframes animations2{
    0%{opacity:0;}
    100%{opacity:.9;}
}
@keyframes animations2{
    0%{opacity:0;}
    100%{opacity:.9;}
}

