*{
    margin: 0;
    padding: 0;
    font: 14px "微软雅黑","Lucida Grande", Helvetica, Arial, sans-serif;

}
html{

}
body {
    line-height: 1.5;
    background: #eaf0f2;
}
*:focus {outline: none;}
a {
    color: #00B7FF;display:inline-block;
}
ul li{
    list-style: none;
}
h1,h2,h3{
    margin: 0;

}
.zindex-200,.hide-bar,.header{
    z-index: 200;
}
.zindex-199,.lefthidemenu{
    z-index: 199;
}
.zindex-198,.userbtn,.logout,.loginbtn,#back-to-top,.login-main,.reg-main{
    z-index: 198;
}
.ta-center,.foot,#login-main h3,.register-link li,.backhome,.user-photo-img,#reg-main,.blogtips,#back-to-top,.user-photo-imga,.other-tools div{
    text-align: center;
}
.lh-default{
    line-height: 1.5;
}
.lh-25px{
    line-height: 25px;
}
.lh-52px,.userbtn,.logout,.loginbtn,.register-link{
    line-height: 52px;
}
.lh-80px,#login-main h3,#reg-main h3{
    line-height: 80px;
}
.lh-85px,.backhome{
    line-height: 85px;
}
.blogtips{
    position: absolute;
    width: 45px;
    height: 25px;
    z-index: 196;
    margin-top:-15px;
    margin-left: -12px;
}
.hide-bar{
    width: 100%;
    position: fixed;
    top:0px;
    display:none;
    height: 52px;
}
.header{
    display: block;
    width: 100%;
    height: 52px;
    padding: 15px 10px;
}
.head-bg{
    width: 100%;
    height: 60px;
}
.navbar{
    width: 100%;
    max-width: 1000px;
    margin: -8px auto;
}
.menbtn-div{
    width:25px;
    height: 25px;
}
.menubtn,.userbtn,.logout,.loginbtn{
    position: relative;
    z-index: 101;
    text-decoration: none;
    font-size: 0em;
    margin-top: -3px;
    padding: 15px;

}
.menubtn:hover{

}
.lefthidemenu{
    width:0;
    height:100%;
    position: fixed;
    top:52px;
    left:0;
    overflow: hidden;
    display: none;
}
body.openmenu {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}
.overlay{
    width:100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
.overlaya{
    /*background-color: rgba(0,0,0,0.5);*/
}
.openmenu .overlay {
    top: 0;
}
.other-tools div{
    float:right;
}

.userbtn,.loginbtn,.logout{
    position: absolute;
    margin-top: -83px;
}
.loginbtn{
    right: 3%;
}
.userbtn{
    right: 8%;

}
.logout{
    right: 4%;

}
.o{
    float: left;
}

.main{
    max-width: 1000px;
    margin: -50px auto;
    height: 100%;
    padding: 15px;
}
.content{
    margin-bottom: 10px;
}
.cont{}
.backhome{margin-left: 1%;position: absolute;z-index: 1}
.login-main,.reg-main{height: 480px; margin: 0 auto;}
#login-main ul,#login-main h3,#reg-main ul,#reg-main h3{margin:0 auto;}
.user-word{height: 80px;}
.user-photo{height: 140px;padding-top: 20px;background-position: center}
.user-photo-img{width: 98px;height: 98px;}
.user-photo-img{margin: 0 auto;}
.user-photo-img span{margin-top: 20px;}
.login-form,.reg-form{ height: 208px; padding-top: 10px;}
.login-form li,.reg-form li,.myblogbtn-text{width: 260px;margin: 0 auto;}
.myblogbtn-text{border-top: none;border-left: none;border-right: none;border-bottom: 2px solid #389dc1;margin-top: 15px;margin-bottom: 0;height: 35px;}
.myblogbtn-check{font-size: 13px;margin:15px 0 ;}
.register-link{ height: 52px;}
.reg-form-btn{margin-top: 15px;}
.myblogbtn-go-reg{width: 120px;}


.box ul{
    left:0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-timing-function:ease-out;
}
.cont,.notice-top,.notice-bottom{width:100%;}
.cont{margin-bottom: 20px;}
.notice-top,.notice-bottom{padding: 10px;}
.notice-top{
    height: 100%;
}
.user-photo-imga{position: absolute;margin-top: -20px;margin-left: 0px;width: 70px;height: 70px;}
.user-photo-imga span{margin-top: 8px;}
.user-info{margin-left: 80px;height: 50px;}
.posts-main{width: 100%;}
.other-tools{height: 75px;}
.other-tools div{width:50px;height:75px;margin-right: 25px;}
.other-tools div a{width:50px;height: 50px;display:inline-block;}
.other-tools div a span{margin-top: 13px;}
.user-info-name{}
.foot{
    border-top: 1px solid #eee;
    padding: 40px 0;
    margin-top: 70px;
}

#back-to-top
{
    bottom: 25px;
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right:5%;
    line-height: 58px;
}

/*@media (max-width: 430px){
    .login-main,.reg-main,.login-main-l ul,.reg-main ul{width: 320px;}
    .user-word{}
    .user-photo{}
    .login-form{}
    .login-form li,.reg-form li,.myblogbtn-text{width: 240px;}
    .register-link{}

}
@media(max-width: 480px) and (min-width: 431px){
    .login-main,.reg-main,.login-main-l ul,.reg-main ul{width: 430px;}
    .login-form li,.reg-form li,.myblogbtn-text{width: 420px;}
}
@media (max-width: 767px)and (min-width: 481px){
    .login-main,.reg-main,.login-main-l ul,.reg-main ul{width: 540px;}
    .login-form li,.reg-form li,.myblogbtn-text{width: 530px;}
}
@media (min-width: 768px){
    .login-main,.reg-main,#login-main ul,#reg-main ul{width:554px;}

}

@media only screen and (min-width: 768px) {
    .login-main,.reg-main,.login-main-l ul,.reg-main ul{width: 555px;}
    .login-form li,.reg-form li,.myblogbtn-text{width: 350px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .login-main,.reg-main,.login-main-l ul,.reg-main ul{width: 460px;}
    .login-form li,.reg-form li,.myblogbtn-text{width: 320px;}
}

@media only screen and (max-width: 479px) and (min-width: 430px){

    .userbtn{right: 12%;}
}
@media (max-width: 430px){

    .userbtn{right: 14%;}
}*/

@media (max-width: 767px){

    .userbtn{right: 14%;}
}

